body
{
background-color:slateblue;
color:red;
text-align: left;
}

img{
border-radius: 20%
}

ul
{
list-style-type:none;
display: block;
margin: 0;
padding:0;
width: 80px;
}

li b
{
display:block;
color: red;
padding: 8px 16px;
}

ul1 {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color:slateblue;
}

.header {
background-color: slateblue;
text-align: center;
padding: 20px;
  
}
li {
float: left;
}

.topnav {
  overflow: hidden;
  background-color: slateblue;
}

.topnav a {
float: left;
display: block;
color: red;
text-align: center;
padding: 16px 18px;
text-decoration: none;
}

.topnav a:hover {
 background-color: slateblue;
 color: red;
}

