body
{
background-color:#483D8B;
color:#F0F8FF;
text-align: left;
}
mark {
    background-color:mediumpurple;
    color:white;
    box-shadow:rgba(0,0,0) -10px  15px;
}
img{
 width:200px;
border-radius: 50%
}

ul
{
list-style-type:none;
display: block;
margin: 0;
padding:0;
width: 80px;
}

li b
{
display:block;
color:#F0F8FF;
padding: 8px 16px;
}

ul1 {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color:#483D8B;
}

.header {
background-color:#483D8B;
text-align: center;
padding: 20px;
  
}
li {
float: left;
}

.topnav {
  overflow: hidden;
  background-color:#483D8B;
}

.topnav a {
float: left;
display: block;
color:#F0F8FF;
text-align: center;
padding: 16px 18px;
text-decoration: none;
}
#name{
 text-align:center;

}
#about{
 text-align:center;
    color:crimson;

}
.topnav a:hover {
 background-color:#483D8B;
 color:#F0F8FF;
}
.container{
width: 300px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
    padding: 1.25%;
    float: left;
    background-color: crimson;
    height: 250px;
    max-width: 25%;
    box-sizing: border-box;
}
